.admin_panel {
  margin-top: 120px;
  margin-bottom: 64vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 14px;
  }
}

.ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: var(--color-secondary);
  border-radius: 30px;

  a {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
  }
}

.link {
  gap: 6px;
  color: var(--color-text);
  transition: background-color 200ms ease;
}

.link:hover {
    color: var(--color-foreground);
}

.active {
  background-color: var(--color-card);
  border-radius: 24px;
}

.admin {
  display: flex;
  align-items: center;
  gap: 20px;
}
